<div class="ml-5 mr-5 mt-1">
  <div class="mx-2">
    <h2 class="title">Purchased Items</h2>
    <hr class="my-4">
  </div>
  <mat-tab-group class="mt-1" mat-align-tabs="center" animationDuration="0ms">
      <mat-tab label="Magazines">
          <div class="ml-1">
              <h3 class="title mb-3">Magazines</h3>
              <div class="my-3">
              <table class="mt-3  table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">NAME</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let magazine of magazines">
                          <td>{{magazine.name}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
      </mat-tab>

      <mat-tab label="Issues">
        <div class="ml-3">
          <h3 class="title mb-3">Issues</h3>
          <div class="my-1">
          <table class="mt-3 table table-striped">
              <thead>
                  <tr>
                      <th scope="col">NAME</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let issue of issues">
                      <td>{{issue.number}}</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
      </mat-tab>
      <mat-tab label="Scientific Papers">
        <div class="ml-1">
            <h3 class="title">Scientific Papers</h3>
            <div class="my-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">TITLE</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let paper of scientificPapers">
                        <td>{{paper.title}}</td>
                        <td><a class="ml-3 btn btn-secondary" href={{paper.paperPath}}><i class="fa fa-download" aria-hidden="true"></i>  Download Paper</a></td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </mat-tab>
    <mat-tab label="Subscriptions">
      <div class="ml-1">
          <h3 class="title">Subscriptions to magazines</h3>
          <div class="my-3">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">MAGAZINE TITLE</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let sub of subscriptions">
                      <td>{{sub.magazine.name}}</td>
                  </tr>
              </tbody>
          </table>
          </div>
      </div>
  </mat-tab>
  </mat-tab-group>
</div>
