div.main {
    margin-top: 2rem;
}

.table {
    width: 80%;
    margin-top: 1rem;;
}

.title {
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.members {
    margin-top: 4.2rem;
}